cloudflare_account_id = "YOUR CLOUDFLARE ACCOUNT ID"
cloudflare_api_key = "YOUR CLOUDFLARE API KEY"
cloudflare_email = "YOUR CLOUDFLARE ACCOUNT EMAIL"
cloudflare_zone = "YOUR ZONE/DOMAIN (e.g. example.com)"
cloudflare_zone_id = "YOUR CLOUDFLARE ZONE ID"
cloudflare_zero_trust_team_domain = "YOUR CLOUDFLARE ZERO TRUST DOMAIN"
azure_arm_tenant_id = "AZURE AD TENANT ID"
azure_custom_domain_txt = "CUSTOM DOMAIN TXT VALUE"